

<div class="card mb-3 p-4">
    <h5 class="card-title mb-3">Edit Contact</h5>
    <p class="card-text text-muted">First Name:
      <input type="text" name="firstName" class="form-control inputBox" [(ngModel)]="editContact.fname" #contactFName>
    </p>
    <p class="card-text text-muted">Last Name:
      <input type="text" name="lastName" class="form-control inputBox" [(ngModel)]="editContact.lname" #contactLName>
    </p>
    <p class="card-text text-muted">Phone Number:
      <input type="text" name="phoneNumber" class="form-control inputBox" [(ngModel)]="editContact.phoneNumber" #contactPhone>
    </p>
    <p class="card-text text-muted">Email Address:
      <input type="text" name="emailAddress" class="form-control inputBox" [(ngModel)]="editContact.email" #contactEmail>
    </p>
    <div class="text-end">
      <button class="addButton btn btn-primary" (click)="onEditContact()">Edit</button>
      <button class="addButton btn btn-danger" routerLink="">Cancel</button>
    </div>
</div>